@font-face {
  font-family: 'agrandir';
  src: url(../../public/fonts/agrandir/Agrandir-Regular.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none
}

.title-agrandir {
  @apply font-sans text-xs font-medium pb-3;
  font-family: 'agrandir';
} 

.text-agrandir {
  @apply font-sans text-base text-left;
  font-family: 'agrandir';
}

.text-agrandir-mobile {
  @apply font-sans text-sm text-left;
  font-family: 'agrandir';
}

.rounded_border * {
  border-radius: 1.75rem;
}