@font-face {
  font-family: 'agrandir';
  src: url(../../public/fonts/agrandir/Agrandir-Regular.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.title-agrandir {
  @apply font-sans text-xs font-medium pb-3;
  font-family: 'agrandir';
} 

.text-agrandir {
  @apply font-sans text-base text-left;
  font-family: 'agrandir';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
